<!-- Should  only be displayed to users with specific permissions !!!-->
<table class="styled detail">
    <tr>
        <th>birth date</th>
        <td>{{confidential.birth_date}}</td>
    </tr>
    <tr>
        <th>personal phone</th>
        <td>{{confidential.personal_phone}}</td>
    </tr>
    <tr>
        <th>personal email</th>
        <td>{{confidential.personal_email}}</td>
    </tr>
    <tr>
        <th>postal address</th>
        <td>{{confidential.postal_address}}</td>
    </tr>
</table>