body{
    margin:0px;
    padding:0px;
}

div, pre,td,th, input, select, textarea {
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}



/* Titles */
h1,h2 {
    color: #424242;
    margin: 0px;
    margin-bottom: 10px;
}

h1 {
    font-size: 16px;
}
    

h2 {
    font-size: 12px;
}
/* ---------------- */


.warning {
    color: red;
}

img {
    border:0px;
    margin:0px;
}


/* Hyperlinks formats        */
a {
    color: #848484;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: #424242;
}


/* Table formats */
table
{
    empty-cells: show;
    border-collapse:collapse;
}


/* Page Layout */
div.page_header {
    text-align:center;
    background-color: RGB(30,49,116);
    font-size:14px;
    color:white;
    margin-left: 10px;
    margin-right: 10px;
    padding:15px;
    height:20px;
    clear:left;
    
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 3px #ccc;
    /* Fix for IE6 and IE8 */
    behavior: url(/static/PIE.htc); 
}

div.left_column {
    float:left;
    width:160px;
}

div.menu {
    width:100%;
    background-color: #d3dbed;
    margin:10px;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 3px #ccc;
    
    /* Fix for IE6 and IE8 */
    behavior: url(/static/PIE.htc); 
}

div.content {
    padding-top:10px;
    margin-left:200px;
    margin-right: 10px;
    margin-bottom: 20px;
}

div.block, div.login {
    border-radius: 10px;
    border: 2px solid #d3dbed;
    padding: 5px;
    padding-bottom:10px;
    margin-bottom: 10px;
    
    /* Fix for IE6 and IE8 */
    behavior: url(/static/PIE.htc); 
}

/* User box */
.userbox {
    position:absolute;
    right:20px;
    font-size: 11px;
    text-align:right;
}

.userbox a {
    color: white;
    font-size: 11px;
    font-weight:normal;
}

.userbox a:hover {
    font-weight:bold;
}
/* --------------- */

div.login {
    margin-left: 50px;
    margin-right: 50px;
}

div.footer {
    
    text-align:center;
    clear:left;
    margin:10px;
}





/* Specific tables */
table.styled {
    empty-cells: show;
    border-collapse:collapse;
}
table.styled td {
    border: 1px solid #cbd4e8;
    background-color: #f2f4fa;
    padding-left:5px;
    padding-right:5px;
}
table.styled th {
    text-transform:capitalize;
    font-weight: normal;
    border: 1px solid #94a9d4;
    background-color: #d3dbed;
    padding-left:5px;
    padding-right:5px;
}


table.detail th {
    width: 100px;
    text-align:left;
}


table.menu {
    width:90%;
    border:1px solid #94a9d4;
}
table.menu th {
    background-color: #d3dbed;
}


/* Error Management in forms*/
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    color: red;
    display: block;
    margin: 0 0 3px;
    padding: 4px 5px;
}


